In [2]:
import pandas as pd
import random

# Задача: В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид.

In [10]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  robot
4  robot

## Решение:

In [12]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
unique_values = data['whoAmI'].unique()
one_hot_data = pd.DataFrame()
for value in unique_values:
    one_hot_data[value] = (data['whoAmI'] == value).astype(int)
one_hot_data.head()

   robot  human
0      1      0
1      0      1
2      0      1
3      1      0
4      1      0